
.DS_Store
HWMonitorSMC.xcodeproj/xcuserdata
HWMonitorSMC.xcodeproj/xcshareddata
HWMonitorSMC.xcodeproj/project.xcworkspace/xcshareddata
HWMonitorSMC.xcodeproj/project.xcworkspace/xcuserdata
HWMonitorSMC.xcodeproj/project.xcworkspace/contents.xcworkspacedata
HWMonitorSMC2 Helper/HWMonitorSMC2 Helper.xcodeproj/xcuserdata
HWMonitorSMC2 Helper/HWMonitorSMC2 Helper.xcodeproj/xcshareddata
HWMonitorSMC2 Helper/HWMonitorSMC2 Helper.xcodeproj/project.xcworkspace/xcshareddata
HWMonitorSMC2 Helper/HWMonitorSMC2 Helper.xcodeproj/project.xcworkspace/xcuserdata
HWMonitorSMC2 Helper/HWMonitorSMC2 Helper.xcodeproj/project.xcworkspace/contents.xcworkspacedata
smcwrite/smcwrite.xcodeproj/xcuserdata
smcwrite/smcwrite.xcodeproj/xcshareddata
smcwrite/smcwrite.xcodeproj/project.xcworkspace/xcshareddata
smcwrite/smcwrite.xcodeproj/project.xcworkspace/xcuserdata
smcwrite/smcwrite.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate
