<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3VCC</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>3VCC</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>3VSB</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>3VSB</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>AUXFAN0</key>
	<dict>
		<key>name</key>
		<string>AUXFAN0</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>AUXFAN1</key>
	<dict>
		<key>name</key>
		<string>AUXFAN1</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>AUXFAN2</key>
	<dict>
		<key>name</key>
		<string>Chassis Fan 2</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>AUXFAN3</key>
	<dict>
		<key>name</key>
		<string>AUXFAN3</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>AVSB</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>AVSB</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>CPUFAN</key>
	<dict>
		<key>name</key>
		<string>CPU FAN</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>CPUVCORE</key>
	<dict>
		<key>multi</key>
		<integer>3</integer>
		<key>name</key>
		<string>CPU VCORE</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>SYSFAN</key>
	<dict>
		<key>name</key>
		<string>Chassis Fan 1</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VBAT</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VBAT</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN0</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VIN0</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN1</key>
	<dict>
		<key>multi</key>
		<real>6.599</real>
		<key>name</key>
		<string>12v</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN2</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VIN2</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN3</key>
	<dict>
		<key>multi</key>
		<integer>3</integer>
		<key>name</key>
		<string>5v</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN4</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VIN4</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN5</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VIN5</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN6</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VIN6</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN7</key>
	<dict>
		<key>multi</key>
		<real>2.5</real>
		<key>name</key>
		<string>VIN7</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN8</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VIN8</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VTT</key>
	<dict>
		<key>multi</key>
		<integer>1</integer>
		<key>name</key>
		<string>VTT</string>
		<key>skip</key>
		<true/>
	</dict>
</dict>
</plist>
