<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3VCC</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
	</dict>
	<key>3VSB</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
	</dict>
	<key>AUXFAN0</key>
	<dict>
		<key>name</key>
		<string>M.2_FAN</string>
	</dict>
	<key>AUXFAN3</key>
	<dict>
		<key>name</key>
		<string>CHA_FAN2</string>
	</dict>
	<key>AVSB</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
	</dict>
	<key>CPUFAN</key>
	<dict>
		<key>name</key>
		<string>CPU_FAN</string>
	</dict>
	<key>CPUVCORE</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
	</dict>
	<key>SYSFAN</key>
	<dict>
		<key>name</key>
		<string>CHA_FAN1</string>
	</dict>
	<key>VBAT</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
	</dict>
	<key>VIN0</key>
	<dict>
		<key>multi</key>
		<integer>12</integer>
		<key>name</key>
		<string>+12</string>
	</dict>
	<key>VIN1</key>
	<dict>
		<key>multi</key>
		<integer>5</integer>
		<key>name</key>
		<string>+5</string>
	</dict>
	<key>VIN2</key>
	<dict>
		<key>name</key>
		<string>PCH Core</string>
	</dict>
	<key>VIN3</key>
	<dict>
		<key>name</key>
		<string>VIN3</string>
	</dict>
	<key>VIN4</key>
	<dict>
		<key>name</key>
		<string>CPU Gfx</string>
	</dict>
	<key>VIN5</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>DRAM</string>
	</dict>
	<key>VIN6</key>
	<dict>
		<key>name</key>
		<string>VCCSA</string>
	</dict>
	<key>VIN7</key>
	<dict>
		<key>name</key>
		<string>CPU_VCCIO</string>
	</dict>
	<key>VIN8</key>
	<dict>
		<key>multi</key>
		<real>6.58554</real>
		<key>name</key>
		<string>CPU Standby</string>
		<key>skip</key>
		<true/>
	</dict>
</dict>
</plist>
