<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FAN1</key>
	<dict>
		<key>name</key>
		<string>CPU_FAN</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>FAN2</key>
	<dict>
		<key>name</key>
		<string>SYS_FAN</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>FAN3</key>
	<dict>
		<key>name</key>
		<string>FAN3</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>FAN4</key>
	<dict>
		<key>name</key>
		<string>FAN4</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>FAN5</key>
	<dict>
		<key>name</key>
		<string>FAN5</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>VBAT</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>VBAT</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN0</key>
	<dict>
		<key>name</key>
		<string>VTT</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN1</key>
	<dict>
		<key>multi</key>
		<real>1.649</real>
		<key>name</key>
		<string>+3.3V</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN2</key>
	<dict>
		<key>multi</key>
		<integer>6</integer>
		<key>name</key>
		<string>+12V</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN3</key>
	<dict>
		<key>multi</key>
		<real>2.5</real>
		<key>name</key>
		<string>+5V</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN4</key>
	<dict>
		<key>name</key>
		<string>iGPU VAXG</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN5</key>
	<dict>
		<key>name</key>
		<string>Vcore</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN6</key>
	<dict>
		<key>name</key>
		<string>DDR</string>
		<key>skip</key>
		<false/>
	</dict>
	<key>VIN7</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>3VSB</string>
		<key>skip</key>
		<false/>
	</dict>
</dict>
</plist>
