<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3VCC</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>AVCC</string>
	</dict>
	<key>3VSB</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
	</dict>
	<key>AUXFAN0</key>
	<dict>
		<key>name</key>
		<string>Chassis1</string>
	</dict>
	<key>AUXFAN1</key>
	<dict>
		<key>name</key>
		<string>Chassis3</string>
	</dict>
	<key>AUXFAN2</key>
	<dict>
		<key>name</key>
		<string>Chassis4</string>
		<key>skip</key>
		<true/>
	</dict>
	<key>AVSB</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
		<key>name</key>
		<string>+3.3</string>
	</dict>
	<key>CPUFAN</key>
	<dict>
		<key>name</key>
		<string>CPU</string>
	</dict>
	<key>CPUVCORE</key>
	<dict>
		<key>name</key>
		<string>Vcore</string>
	</dict>
	<key>SYSFAN</key>
	<dict>
		<key>name</key>
		<string>Chassis2</string>
	</dict>
	<key>VBAT</key>
	<dict>
		<key>multi</key>
		<integer>2</integer>
	</dict>
	<key>VIN0</key>
	<dict>
		<key>multi</key>
		<integer>12</integer>
		<key>name</key>
		<string>+12</string>
	</dict>
	<key>VIN1</key>
	<dict>
		<key>multi</key>
		<integer>5</integer>
		<key>name</key>
		<string>+5</string>
	</dict>
	<key>VIN2</key>
	<dict>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN3</key>
	<dict>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN7</key>
	<dict>
		<key>skip</key>
		<true/>
	</dict>
	<key>VIN8</key>
	<dict>
		<key>skip</key>
		<true/>
	</dict>
</dict>
</plist>
